}@charset "utf-8";

/* CSS Document */


.btn {
	padding: 5px 5px 10px 5px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.42857143;
	white-space: normal;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	border-radius: 0px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none !important;
}


.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}

.comboBtn {
	margin: 0px;
}

/* white button */

.btn-whiteGreen.short {
	color: #0b1518;
	background-color: #ffffff !important;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 125px;
	padding: 6px 10px !important;
	text-decoration: none !important;
}

.btn-whiteGreen {
	color: #0b1518;
	background-color: #ffffff !important;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 150px;
	text-decoration: none !important;
}

.btn-whiteGreen:focus,
.btn-whiteGreen.focus {
  color: #fff;
  background-color: #b3d699;
  border-color: none;
	text-decoration: none !important;
}
.btn-whiteGreen:hover {
  color: #0b1518;
  background-color: #90b163 !important;
  border-color: none;
	text-decoration: none !important;
}
.btn-whiteGreen:active,
.btn-whiteGreen.active,
.open > .dropdown-toggle.btn-whiteGreen {
  color: #fff;
  background-color: #b3d699;
  border-color: none;
	text-decoration: none !important;
}


.btn-whiteGreen:active:hover,
.btn-whiteGreen.active:hover,
.open > .dropdown-toggle.btn-whiteGreen:hover,
.btn-whiteGreen:active:focus,
.btn-whiteGreen.active:focus,
.open > .dropdown-toggle.btn-whiteGreen:focus,
.btn-whiteGreen:active.focus,
.btn-whiteGreen.active.focus,
.open > .dropdown-toggle.btn-whiteGreen.focus {
  color: #fff;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-whiteGreen:active:hover,
.btn-whiteGreen.active:hover,
.open > .dropdown-toggle.btn-whiteGreen:hover,
.btn-whiteGreen:active:focus,
.btn-whiteGreen.active:focus,
.open > .dropdown-toggle.btn-whiteGreen:focus,
.btn-whiteGreen:active.focus,
.btn-whiteGreen.active.focus,
.open > .dropdown-toggle.btn-whiteGreen.focus {
  color: #fff;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-whiteGreen.disabled:hover,
.btn-whiteGreen[disabled]:hover,
fieldset[disabled] .btn-whiteGreen:hover,
.btn-whiteGreen.disabled:focus,
.btn-whiteGreen[disabled]:focus,
fieldset[disabled] .btn-whiteGreen:focus,
.btn-whiteGreen.disabled.focus,
.btn-whiteGreen[disabled].focus,
fieldset[disabled] .btn-whiteGreen.focus {
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}



/* blue button */

.btn-blue {
	color: #ffffff !important;
	background-color: #457481;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	text-decoration: none !important;
}

.btn-blue:focus,
.btn-blue.focus {
  color: #ffffff;
  background-color: #3e7a8d;
  border-color: none;
	text-decoration: none !important;
}
.btn-blue:hover {
  color: #0b1518;
  background-color: #6ba6b5 !important;
  border-color: none;
	text-decoration: none !important;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #3e7a8d;
  border-color: none;
	text-decoration: none !important;
}


.btn-blue:active:hover,
.btn-blue.active:hover,
.open > .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open > .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue.focus {
  color: #ffffff;
  background-color: #3e7a8d !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-blue:active:hover,
.btn-blue.active:hover,
.open > .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open > .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue.focus {
  color: #ffffff;
  background-color: #3e7a8d !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {
  background-color: #3e7a8d !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-blue.squareSmall {
	border-radius: 0px;
	height: 30px;
	width: 200px;
	font-size: 13px;
	padding: 5px;
	margin: 0px;
	opacity: .85;
}

/* green button */

.btn-green {
	color: #fff;
	background-color: #465a26;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 300px;
	text-decoration: none !important;
}

.btn-green:focus,
.btn-green.focus {
  color: #fff;
  background-color: #658638;
  border-color: none;
	text-decoration: none !important;
}
.btn-green:hover {
  color: #0b1518;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #658638;
  border-color: none;
	text-decoration: none !important;
}


.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {
  color: #fff;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {
  color: #fff;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus {
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}

/* peach-green button */

.btn-peachGreen {
	color: #b85351 !important;
	background-color: #efb3a6;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 300px;
	text-decoration: none !important;
}

.btn-peachGreen:focus,
.btn-peachGreen.focus {
  color: #b85351 !important;
  background-color: #efb3a6;
  border-color: none;
	text-decoration: none !important;
}
.btn-peachGreen:hover {
  color: #ffffff !important;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}
.btn-peachGreen:active,
.btn-peachGreen.active,
.open > .dropdown-toggle.btn-peachGreen {
  color: #b85351 !important;
  background-color: #efb3a6;
  border-color: none;
	text-decoration: none !important;
}


.btn-peachGreen:active:hover,
.btn-peachGreen.active:hover,
.open > .dropdown-toggle.btn-peachGreen:hover,
.btn-peachGreen:active:focus,
.btn-peachGreen.active:focus,
.open > .dropdown-toggle.btn-peachGreen:focus,
.btn-peachGreen:active.focus,
.btn-peachGreen.active.focus,
.open > .dropdown-toggle.btn-peachGreen.focus {
  color: #ffffff !important;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-peachGreen:active:hover,
.btn-peachGreen.active:hover,
.open > .dropdown-toggle.btn-peachGreen:hover,
.btn-peachGreen:active:focus,
.btn-peachGreen.active:focus,
.open > .dropdown-toggle.btn-greenbtn-peachGreen:focus,
.btn-peachGreen:active.focus,
.btn-peachGreen.active.focus,
.open > .dropdown-toggle.btn-peachGreen.focus {
  color: #ffffff !important;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-peachGreen.disabled:hover,
.btn-peachGreen[disabled]:hover,
fieldset[disabled] .btn-peachGreen:hover,
.btn-peachGreen.disabled:focus,
.btn-peachGreen[disabled]:focus,
fieldset[disabled] .btn-peachGreen:focus,
.btn-peachGreen.disabled.focus,
.btn-peachGreen[disabled].focus,
fieldset[disabled] .btn-peachGreen.focus {
  color: #ffffff !important;
  background-color: #658638 !important;
  border-color: none;
	text-decoration: none !important;
}



/* blueGreen button */

.btn-blueGreen.short {
	color: #ffffff !important;
	background-color: #658638 !important;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 300px;
	padding: 6px 10px !important;
	text-decoration: none !important;
}

.btn-blueGreen {
	color: #ffffff !important;
	background-color: #658638 !important;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 300px;
	text-decoration: none !important;
}

.btn-blueGreen:focus,
.btn-blueGreen.focus {
  color: #ffffff !important;
  background-color: #658638;
  border-color: none;
	text-decoration: none !important;
}
.btn-blueGreen:hover {
  color: #ffffff !important;
  background-color: #3e7a8d !important;
  border-color: none;
	text-decoration: none !important;
}
.btn-blueGreen:active,
.btn-blueGreen.active,
.open > .dropdown-toggle.btn-blueGreen {
  color: #ffffff !important;
  background-color: #3e7a8d;
  border-color: none;
	text-decoration: none !important;
}


.btn-blueGreen:active:hover,
.btn-blueGreen.active:hover,
.open > .dropdown-toggle.btn-blueGreen:hover,
.btn-blueGreen:active:focus,
.btn-blueGreen.active:focus,
.open > .dropdown-toggle.btn-blueGreen:focus,
.btn-blueGreen:active.focus,
.btn-blueGreen.active.focus,
.open > .dropdown-toggle.btn-blueGreen.focus {
  color: #ffffff !important;
  background-color: #3e7a8d !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-blueGreen:active:hover,
.btn-blueGreen.active:hover,
.open > .dropdown-toggle.btn-blueGreen:hover,
.btn-blueGreen:active:focus,
.btn-blueGreen.active:focus,
.open > .dropdown-toggle.btn-blueGreen:focus,
.btn-blueGreen:active.focus,
.btn-blueGreen.active.focus,
.open > .dropdown-toggle.btn-blueGreen.focus {
  color: #ffffff !important;
  background-color: #3e7a8d !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-blueGreen.disabled:hover,
.btn-blueGreen[disabled]:hover,
fieldset[disabled] .btn-blueGreen:hover,
.btn-blueGreen.disabled:focus,
.btn-blueGreen[disabled]:focus,
fieldset[disabled] .btn-blueGreen:focus,
.btn-blueGreen.disabled.focus,
.btn-blueGreen[disabled].focus,
fieldset[disabled] .btn-blueGreen.focus {
  color: #ffffff !important;
  background-color: #3e7a8d !important;
  border-color: none;
	text-decoration: none !important;
}





/* transp button */

.btn-transp.short {
	color: #0b1518;
	background-color: none !important;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 125px;
	padding: 6px 10px !important;
	text-decoration: none !important;
}

.btn-transp {
	color: #457481;
	background-color: none !important;
	border-color: none;
	width: 100%;
	font-family: lato, sans-serif;
font-weight: 600;
font-style: normal;
	font-size: 16px;
	max-width: 250px;
	text-decoration: none !important;
}

.btn-transp:focus,
.btn-transp.focus {
  color: #457481;
  background-color: none;
  border-color: none;
	text-decoration: none !important;
}
.btn-transp:hover {
  color: #465a26;
  background-color: none !important;
  border-color: none;
	text-decoration: none !important;
}
.btn-transp:active,
.btn-transp.active,
.open > .dropdown-toggle.btn-transp {
  color: #465a26;
  background-color: none;
  border-color: none;
	text-decoration: none !important;
}


.btn-transp:active:hover,
.btn-transp.active:hover,
.open > .dropdown-toggle.btn-transp:hover,
.btn-transp:active:focus,
.btn-transp.active:focus,
.open > .dropdown-toggle.btn-transp:focus,
.btn-transp:active.focus,
.btn-transp.active.focus,
.open > .dropdown-toggle.btn-transp.focus {
  color: #465a26;
  background-color: none !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-transp:active:hover,
.btn-transp.active:hover,
.open > .dropdown-toggle.btn-transp:hover,
.btn-transp:active:focus,
.btn-transp.active:focus,
.open > .dropdown-toggle.btn-transp:focus,
.btn-transp:active.focus,
.btn-transp.active.focus,
.open > .dropdown-toggle.btn-transp.focus {
  color: #465a26;
  background-color: none !important;
  border-color: none;
	text-decoration: none !important;
}

.btn-transp.disabled:hover,
.btn-transp[disabled]:hover,
fieldset[disabled] .btn-transp:hover,
.btn-transp.disabled:focus,
.btn-transp[disabled]:focus,
fieldset[disabled] .btn-transp:focus,
.btn-transp.disabled.focus,
.btn-transp[disabled].focus,
fieldset[disabled] .btn-transp.focus {
  background-color: none !important;
  border-color: none;
	text-decoration: none !important;
}


.btn-wccLink {
	padding: 0px 0px 0px 0px !important;
	margin: 0;
	color: #015793;
	font-family: lato, sans-serif;
	font-size: 13px;
	line-height: 19px;
	font-weight: 700;
	letter-spacing: 1px;
    margin-bottom: 5px;
	white-space: normal;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	border-radius: 0px;
	text-decoration: none !important;
}


.btn:hover,
.btn:focus,
.btn.focus {
  color: #658638;
  text-decoration: none;
}

