    .navbar {
        background-color: #003865;
        color: white;
        height: 135px;
    }
    
    .navbar {
        border-style: solid;
        border-width: 0 0 13px 0;
        border-color: #006269;
    }
    
    .navbar a {
        color: #C7C9C7;
    }
    
    .navbar a:hover {
        color: white;
    }
    
    .navbar-toggler-icon {
        fill: #C7C9C7;
    }
    
    .navbar-brand img {
        width: 20%;
        height: auto;
        margin-left: 30px;
        position: absolute;
    }
    
    .navbar-brand {
        margin-bottom: 2.3125rem;
        padding-bottom: 0px !important;
    }
    
    .navbar-contact {
        padding-top: 73px;
    }
    
    @media (max-width: 1200px) {
        .navbar-contact {
            padding-right: 10%;
        }
    }
    
    .primary-menu {
        padding-right: 150px;
        padding-left: 150px;
    }
    
    .primary-menu a {
        white-space: nowrap;
    }
    
    .container {
        max-width: 100%;
    }
    
    @media (max-width: 992px) {
        .navbar-brand img {
            width: 40%;
            height: auto;
        }
        .navbar-contact {
            display: none;
        }
    }
    
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
    }

